{erl_opts, [debug_info]}.

{plugins,
 [{provider_asn1,
   {git,
    "git@github.com:massemanet/provider_asn1",
    "3873785"}}]}.

{pre_hooks, [{compile, "rebar3 asn compile"}]}.

{xref_checks,[
    undefined_function_calls, undefined_functions, locals_not_used,
    deprecated_function_calls, deprecated_functions
]}.
